body {
  margin: 0;
  font-family: 'Signika Negative';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.accordion-button::after {
  filter: invert(1);
  background-color: white !important;
  border-radius: 3px;
}